header ul {
  overflow: hidden;
  padding-left: 120px;
}
header ul li {
  display: inline-block;
  float: left;
}
header ul li a {
  display: block;
  font-size: 30px;
  line-height: 60px;
  color: #333;
  padding: 0 30px;
}
header ul li a:hover {
  background-color: #ccc;
  color: #fff;
}
h1 {
  padding: 120px 30px;
  text-align: left;
  font-size: 60px;
  line-height: 120px;
  color: #333;
}
h2 {
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  color: #666;
  text-shadow: 2px 2px 8px #ccc;
}
.pngblock {
  display: block;
  margin: 30px auto;
}
.defaultbtn {
  display: block;
  margin: 30px auto;
  width: 200px;
  height: 60px;
  font-size: 24px;
  border: 1px solid #333;
  color: #333;
  opacity: 0.8;
  line-height: 60px;
  background: #f4f4f4;
}
.defaultbtn:hover {
  opacity: 1;
}
.pngline {
  width: 1200px;
  display: block;
  margin: auto;
  flex-wrap: nowrap;
}
.pngline .btns {
  width: 50%;
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.6);
}
.pngline .png {
  height: 300px;
}
.pngline .png img {
  display: block;
  width: 90%;
  margin: auto;
}
.pngline p {
  color: #333;
  padding: 20px 0;
  line-height: 60px;
  font-size: 18px;
  text-align: center;
}
h1,
h2 {
  font-family: 'f2';
}
.footerbtn {
  text-align: center;
  padding: 60px 0;
}
.footerbtn li {
  text-align: center;
  display: inline-block;
}
.footerbtn li a {
  color: #000;
  line-height: 40px;
  text-align: center;
  padding: 0 20px;
  font-size: 30px;
  line-height: 60px;
  height: 60px;
  display: block;
}
.footerbtn li a:hover {
  background: rgba(255, 255, 255, 0.6);
}
.contxt {
  width: 600px;
  display: block;
  margin: auto;
}
.contxt .txt {
  font-size: 24px;
  line-height: 40px;
  text-align: left;
}
